.container {
  display: grid;
  background-color: red;
  padding: 15px;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
}

.container > div {
  background-color: aqua;
  text-align: center;
  padding: 10px;
}

.element1 {
  grid-row: 1/4;
}

.element2 {
  grid-column: span 2;
}

.element3 {
  grid-column: span 2;
}
