/* Colores:
Primarios: #00bdb2 (1ra opcion) - #14c7dd (2da opcion)
Secundarios: #9ca3af (1ra opcion) - #dbdef1(2da opcion)*/
.background {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background: url("../../sources//img/Flota2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  justify-content: center;
  align-content: center;

  grid-template-columns: auto;
  /* grid-template-rows: auto auto auto; */
}

.container {
  display: grid;
  /* background-color: green; */
  padding: 20px;
  grid-gap: 5px;
  grid-template-columns: 200px 200px auto;
  grid-template-rows: auto auto auto;
  border-radius: 20px;
  background: radial-gradient(circle, #9ca3af, #00bdb2, black);
  /* background: radial-gradient(circle,  0%,  100%); */
}

.container > div {
  background-color: transparent;
  justify-content: space-evenly;
  text-align: start;
  padding: 10px;
}

.element1 {
  grid-row: 1/4;
  background: url("../../sources/img/LogoSF.png");
  background-size: cover;
  background-position: center;
}

.element2 {
  grid-column: span 2;
}

.element3 {
  grid-column: span 2;
}
.element4 {
  color: red;
  font-weight: bold;
  text-align: center;
}
